.navbar {
    background-color: #f8f9fa; /* Light grey background for better contrast */
    padding: 1rem 2rem;
    margin: 1rem;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar .logo h1 {
    margin: 0;
    color: #800000; /* Gold */
    font-size: 24px;
}

.navbar .links {
    display: flex;
    align-items: center;
}

.navbar .links a {
    color: #800000; /* Ivory */
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
    transition: color 0.3s;
}

.navbar .links a:hover {
    color: #800000; /* Deep Red */
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items in the navbar */
    }

    .navbar .links {
        flex-direction: column;
    }

    .navbar .links a {
        margin: 10px 0;
    }
}
